@model SettlementProject.Models.SettlementsView


@{
    ViewData["Title"] = "Index";

    int serial = 0;
}

<h1>טבלת יישובים</h1>

<p>
    <a asp-action="Create">ישוב חדש</a>
</p>
<div class="col-4 p-0 justify-content-end">
    <form asp-controller="Settlements" asp-action="Index">
        <span class="btn-group">
            <input class="form-control" type="text" name="SearchText" placeholder="חיפוש" />
            <input class="p-1 ml-2 btn-sm btn-info" type="submit" value="חפש" />
        </span>
    </form>

</div>
<br />
<form asp-action="Index" asp-controller="Settlements" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Serial
                </th>
                <th><a class="text-dark" asp-controller="Settlements" asp-action="Index" asp-route-sortSettlements=@ViewData["NameSortParam"]>ישוב</a>
             
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SettlementList)
            {
                serial = serial + 1;
                <tr>
                    <td>@serial</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SettlementName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item">
                @if (i != Model.CurrentPageIndex)
                {
                    <a class="page-link" href="javascript:PagerClick(@i);">@i</a>
                }
                else
                {
                    <a class="page-link">@i</a>
                }
            </li>
        }
    </ul>
    <input type="hidden" id="CurrentPageIndex" name="CurrentPageIndex"/>
</form>


<script type="text/javascript">
    function PagerClick(index){
        document.getElementById("CurrentPageIndex").value = index;
        document.forms[1].submit();
    }
</script>